
<div class="menu">
    <div class="content">
      <a href="javascript:void(0)">Profile</a>
     <span><button class="btn btn-primary" routerLink="/">Logout</button></span>
     <span> <div class="card text-center" style="width: 25rem;">
        <img class="card-img-top" src="https://secure.gravatar.com/avatar/7104e34ac61866fc2d45b652f82a03bd?s=400&d=mm&r=g" alt="Card image cap">
        <div class="card-body">
          <strong>Leanne Graham</strong>
          <table class="table">
              <tr>
                  <td>Username:</td>
                  <td>Bret </td>
              </tr>
              <tr>
                  <td>Email:</td>
                  <td>Sincere@april.biz</td>
              </tr>
              <tr>
                  <td>Phone:</td>
                  <td>1-770-736-8031 x56442</td>
              </tr>
              <tr>
                  <td>Website:</td>
                  <td>hildegard.org</td>
              </tr>
          </table>
          <h4>Company</h4>
          <table class="table">
              <tr>
                  <td>Name:</td>
                  <td>Romaguera-Crona</td>
              </tr>
              <tr>
                  <td>CatchPhrase:</td>
                  <td>Multi-layered client-server</td>
              </tr>
              <tr>
                  <td>bs:</td>
                  <td>harness real-time e-markets</td>
              </tr>
          </table>
        </div>
      </div>
      </span>
    </div>
    <div class="content">
      <a href="javascript:void(0)">Posts</a>
      <span class="post">Coming Soon</span>
    </div>
    <div class="content" >
      <a href="javascript:void(0)" >Gallery</a>
      <span class="gallery">Coming Soon</span>
    </div>
    <div class="content" >
        <a href="javascript:void(0)" >ToDo</a>
        <span class="todo">Coming Soon</span>
      </div>
  </div>