/************** Background ***************/
body {
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #eee;
    
  
  }
  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://i.pinimg.com/originals/e7/61/1d/e7611d1c09e82762e2de3718bf03b0b3.jpg');
    background-repeat:repeat;
  }
  /************* Background Ends************************************/
  body,html{
    height: 100%;
    margin: 0;
    background: #7F7FD5;
   background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.chat{
    margin-top: auto;
    margin-right: 150px;
    margin-bottom: auto;
}
.card{
    height: 500px;
    width: 500px;
    margin-right: 50px;
    border-radius: 15px !important;
    background-color: rgba(241, 239, 239, 0.7) !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    font-size: 20px;
    background: rgba(170, 221, 250, 0.507);
}
.card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background: rgba(170, 221, 250, 0.507);
}
.container{
    align-content: center;
}
.type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.user_img{
    height: 35px;
    width: 35px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70x;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.user_info{
margin-top: -1px;
margin-bottom: auto;
margin-left: -5px;
}
.user_info span{
font-size: 20px;
color: rgb(49, 49, 49)
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.user_info a{
    text-decoration: none;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}
